@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation d'inscription";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Cette application n'a actuellement pas de véritable expéditeur d'e-mails enregistré, consultez <a href="https://aka.ms/aspaccountconf">ces documents</a> pour savoir comment configurer un véritable expéditeur d'e-mails.
            Normalement, cela serait envoyé par e-mail : <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer votre compte</a>
        </p>
    }
    else
    {
        <p>
            Veuillez vérifier votre e-mail pour confirmer votre compte.
        </p>
    }
}
