@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient des données personnelles que vous nous avez fournies. Cette page vous permet de télécharger ou de supprimer ces données.</p>
        <p>
            <strong>La suppression de ces données supprimera définitivement votre compte, et cela ne pourra pas être récupéré.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
